.page {
  margin: 2rem;
}

.interactions {
  text-align: center;
}

.table {
  margin: 2rem 0;
}

.table-header {
  display: flex;
  line-height: 2.4rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  justify-content: space-between;
}

.table-empty {
  margin: 20rem;
  text-align: center;
  font-size: 1.6rem;
}

.table-row {
  display: flex;
  line-height: 2.4rem;
  white-space: nowrap;
  margin: 1rem 0;
  padding: 1rem;
  background: #fff;
  border: .1rem solid #e3e3e3;
}

.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 .5rem;
}

.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}

.button-active {
  border-radius: 0;
  border-bottom: .1rem solid #38bb6c;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-justify-start {
  justify-content: flex-start;
}

.padding-2 {
  padding: 2rem;
}

.padding-horizontal-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.width-10 {
  width: 10%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}
